h2 {
    font-size: 24px !important;
}

h3 {
    font-size: 20px !important;
    font-weight: lighter !important;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#chart_placeholder {
    text-align: center;
    margin-bottom: 20px;
}

.dependencyWheel {
    font: 10px sans-serif;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}
