<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/basictemplate :: common_header(~{::title},~{}, ~{})">
    <title th:text="#{index.browserTitle}">OpenReq - Intelligent Recommendation &amp; Decision Technologies for Community-Driven Requirements Engineering</title>
</head>

<body>
<div th:replace="fragments/basictemplate::header(true,false,false)"></div>
<div th:insert="fragments/basictemplate::content(~{::#content})">
    <div id="content" class="container" th:object="${reset}">
        <p>&nbsp;</p>
        <div th:insert="fragments/basictemplate::maintitle(~{::#maintitle})">
            <div id="maintitle" class="container">
                <h1 class="title text-center">Forgot Password</h1>
                <h2 th:if="${(#fields.hasErrors('email') == true) or (reset?.email == null)}" class="text-center">Please enter your email address.</h2>
            </div>
        </div>

        <div th:if="${(#fields.hasErrors('email') == false) and (reset?.email != null)}" class="alert alert-info">
            A link to reset your password has been sent to <b th:text="${reset?.email}"></b>.
            Please check your email inbox for a link to reset your password.
        </div>
        <div th:if="${(#fields.hasErrors('email') == true) or (reset?.email == null)}" class="form-signin">
            <form th:action="@{/forgotpassword}" method="post">
                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>

                <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
                    <label for="email_address">Email Address</label>
                    <input type="text"
                           id="email_address"
                           th:field="*{email}"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Email Address" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                </div>
                <p>&nbsp;</p>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="reset-password-submit" id="reset-password-submit" class="form-control btn btn-info" value="Reset" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>
<div th:replace="fragments/basictemplate:: footer">&nbsp;</div>
</body>
</html>
