<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/basictemplate :: common_header(~{::title},~{::link}, ~{})">
    <title th:text="#{index.browserTitle}">InnoSensr - Intelligent Recommendation &amp; Decision Technologies for Community-Driven Requirements Engineering</title>
    <link href="/css/jquery-ui.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
</head>

<body>
<div th:replace="fragments/basictemplate :: header(true,false,false)"></div>
<div class="or-outer-welcome-container">
	<div class="or-welcome-background-pattern">
		<div class="pattern active"></div>
	</div>
	<div id="or-welcome-container" class="container">
		<div th:insert="fragments/basictemplate :: maintitle(~{::#maintitle})">
		    <div id="maintitle" class="container" style="text-align:center;">
		    	<h1 class="or-welcome-title" th:text="#{index.welcome}">Welcome to ...</h1>
				<div class="mask"><span><img id="or-homepage-logo" alt="OpenReq!Live Logo" src="/images/openreq.png" style="width:100%;max-width:540px;" /></span></div>
		        <h3 class="or-slogan text-center">Manage your requirements with ease.</h3>
		        <!-- <div class="or-based-text" style="font-weight:100;color:#aaaaaa;font-style:italic;font-size:18px;">based on <b>OpenReq</b> technologies</div> -->
		        <div class="row center"><a href="/project/generate" class="btn btn-large waves-effect waves-light deep-orange darken-1">Get Started</a></div>
		        <svg height="0">
				  <mask id="mask-firefox">
					<image width="150" xlink:href="/images/openreq.png" filter="url(#filter)" />
				  </mask>
				  <!-- the filter to make the image white -->
				  <filter id="filter">
				    <feFlood flood-color="white" />
				    <feComposite in2="SourceAlpha" operator="in" />
				  </filter>
				</svg>
		    </div>
		</div>
	</div>
</div>
<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text" style="font-size:3.56rem;"><i class="or-feature-icon material-icons">flash_on</i></h2>
            <h5 class="or-feature-title center">Speeds up Requirements Engineering</h5>
            <p class="light">
                We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
            </p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text" style="font-size:3.56rem;"><i class="or-feature-icon material-icons">group</i></h2>
            <h5 class="or-feature-title center">User Experience Focused</h5>
            <p class="light">
                By utilizing tailor-made modern UI elements and state-of-the art design principles, we were able to create an application that incorporates components and animations that provide more feedback to users. This allows stakeholders of your project to focus on the work that really matters to them.
            </p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="or-feature-icon material-icons">settings</i></h2>
            <h5 class="or-feature-title center">Easy to work with</h5>
            <p class="light">
                We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a stakeholder may has about OpenReq.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container" style="margin-bottom:200px;">
	<div class="content-main-company-container">
	  <hr />
	  <div class="or-who-uses-row row vertical-align">
        <h1 class="center">Who uses OpenReq!Live</h1>
        <p class="light" style="font-size: 1.34rem;margin-bottom: -10px;">OpenReq!Live is already capable of tackling all of your everyday requirement engineering tasks you will face in your software projects.
            We analyzed all the feedback which we have received from our users.
            They are absolutely convinced that OpenReq!Live is an innovative tool which performs very well in practice.</p>
        <div class="col s12 m4">
	      <a href="https://www.tugraz.at" target="_blank"><img class="or-powered-by-logo img-responsive center-block" src="/images/tugraz-logo-new.png" alt="University of Technology Graz" /></a>
	    </div>
	    <div class="col s12 m4">
	      <a href="https://www.fh-kaernten.at" target="_blank"><img class="or-powered-by-logo img-responsive center-block" src="/images/fhkaernten.png" alt="Carinthia University of Applied Sciences" /></a>
	    </div>
	    <div class="col s12 m4">
	      <a href="https://www.helsinki.fi" target="_blank"><img class="or-powered-by-logo img-responsive center-block" src="/images/university-of-helsinki.png" alt="University of Helsinki" /></a>
	    </div>
	  </div>
	</div>
</div>

<div th:replace="fragments/basictemplate :: footer">&nbsp;</div>
<script src="/js/jquery-ui.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
function showAnimation() {
	//$(".mask > span").attr("style", "background-position: -600px 0;");
	//$("#or-welcome-container").effect("pulsate", {}, 100, function () {
		$(".mask > span").attr("style", "background-position: 100px 0;transition: all 1.5s;");
	//});
}
$(document).ready(function () {
	setTimeout(showAnimation, 1000);
	var flkty = new Flickity( '.main-gallery', {
		  cellAlign: 'left',
		  contain: true,
		  wrapAround: true,
		  prevNextButtons: false,
		  autoPlay: 15000
	});
});
</script>
</body>
</html>
