<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/basictemplate :: common_header(~{::title},~{}, ~{})">
    <title th:text="#{index.browserTitle}">OpenReq - Intelligent Recommendation &amp; Decision Technologies for Community-Driven Requirements Engineering</title>
</head>

<body>
<div th:replace="fragments/basictemplate::header(true,false,false)"></div>
<div th:insert="fragments/basictemplate::content(~{::#content})">
    <div id="content" class="container" th:object="${reset}">
        <p>&nbsp;</p>
        <div th:insert="fragments/basictemplate::maintitle(~{::#maintitle})">
            <div id="maintitle" class="container">
                <h1 class="title text-center">Reset Password</h1>
                <h2 class="text-center">Please write down or remember your new password.</h2>
            </div>
        </div>

        <div th:unless="${error}" class="alert alert-info">
            A new password has been generated for you:<br />
            Your username: <b th:text="${username}"></b>
            Your new password: <b th:text="${newPassword}"></b><br />
        </div>
        <div th:if="${error}" class="alert alert-danger" th:text="${errorMessage}"></div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>
<div th:replace="fragments/basictemplate:: footer">&nbsp;</div>
</body>
</html>
